<div class="information-list information-list-golden information-dynamics">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="information-list-left-header">
                <h2 class="visible-xs-block visible-sm-block">全部</h2>
                <a href="javascript:void(0);" class="information-list-more visible-xs-block visible-sm-block">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </div>
            <ul class="list-unstyled information-list-left-body">
                <li class="active">
                    <a><span>数据源1</span></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-9 information-list-right">
            <ul class="list-unstyled information-list-right-body">
                <li class="row">
                    <p class="col-md-2 time col-md-push-10">
                        <span class="visible-xs-inline-block visible-sm-inline-block year">2016</span>
                        <span class="data">12-12</span>
                    </p>
                    <div class="col-md-4 col-md-pull-2 info-image">
                        <a href="#"><img class="img-responsive center-block" src="http://placehold.it/300x127/d5975c/ffffff?text=新闻一"></a>
                    </div>
                    <div class="col-md-6 col-md-pull-2 info-body">
                        <a href="#">
                            <p class="title">山西甲护生物科技有限公司：攻克世界难题 彰显山西魅力</p>
                            <p class="description">山西甲护生物科技有限公司八年努力，攻克了这种“消毒水”不能长期保存的世界性难题。</p>
                        </a>
                    </div>
                    <a href="#" class="details">&rightarrow;</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 information-list-bottom">
            <ul class="pagination">
                <li class="prev">
                    <a rel="prev">上一页</a>
                </li>
                <li>
                    <a>1</a>
                    <a>2</a>
                    <a class="active" href="javascript:void(0);">3</a>
                    <a>4</a>
                    <a>5</a>
                </li>
                <li>
                    <a>6</a>
                </li>
                <li class="next"><a rel="next" href="#">下一页</a></li>
                <li class="total"><a href="javascript:void(0);">共1页</a></li>
            </ul>
        </div>
    </div>
</div>